@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/knockout-3.0.0.js"></script>
<script type="text/javascript" src="~/Scripts/Custom/BaseModel.js"></script>
<script type="text/javascript" src="~/Scripts/Custom/AddBookViewModel.js"></script>
<script type="text/javascript" src="~/Scripts/Custom/BooksListModel.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
<script type="text/javascript">
    var options = {
        url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Values" })'
    };
    $(document).ready(function () {
        ko.applyBindings(new BooksListModel(options), document.getElementById("showArea"));
        ko.applyBindings(new AddBookViewModel(options), document.getElementById("addArea"));
    })
</script>

<h2>Index</h2>

<div style="display: inline">
    <div style="float: left">
        <h3>Add new book</h3>
        @Html.Partial("AddBook")
    </div>
    <div style="float: right">
        <h3>Books</h3>
        
        @Html.Partial("BooksList")
    </div>
</div>